@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Mango-Grotesque';
    src: url(./Source/MangoGrotesque-Bold.otf)
}

/* "poppins" sans-serif;
"Roboto", sans-serif; */

/*---------------------------------------------------------------------- Normalize -------------------------------------------------------------------------------------------------*/

html {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    /* Aplica el desplazamiento suave a toda la página */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #222222;
}

a {
    text-decoration: none;
}

/* header, .main-heroe{
    background-color: #2f2f2f;
} */
.upTop-button {
    position: sticky;
    top: 0;
}

/*---------------------------------------------------------------------- Header -------------------------------------------------------------------------------------------------*/


.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
}

.list-container .nav-list__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    scroll-behavior: smooth;
}

.list-container .nav-list__ul a {
    color: #fcfcf7;
    font-family: "poppins";
    font-size: 17px;
    font-weight: 400;
    line-height: 19.36px;
    transition: 0.3s;
}

.list-container .nav-list__ul a:hover {
    color: #fcfcf7;
    font-family: "poppins";
    font-size: 15px;
    font-weight: 700;
    line-height: 19.36px;
    text-shadow: 3px 3px 3px white;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container .nav-img img {
    width: 50px;
}

/*---------------------------------------------------------------------- Body (heroe-top) -------------------------------------------------------------------------------------------------*/

.heroe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.heroe .heroe-top p {
    color: white;
    font-size: 18px;
}

.heroe .heroe-top .fs {
    color: white;
    font-size: 30px;
    text-align: left;
}

.heroe-top>div>p {
    margin-top: 20px;
}

.heroe .heroe-top h1 {
    color: #7E74F1;
    font-size: 50px;
    padding: 0;
}

.main-heroe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.main-heroe img {
    width: 300px;
    animation: animationsd 10s infinite;
}

.heroe-top .fsNDC {
    font-size: 15px;
    color: white;
    text-align: center;
}

.heroe-top {
    display: flex;
    flex-direction: column;
    /* gap: 13px; */
}

/*---------------------------------------------------------------------- Body(heroe-bottom) -------------------------------------------------------------------------------------------------*/


.heroe-bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    font-size: 30px;
    gap: 15px;
}

.heroe-bottom .HB-A {
    text-decoration: none;
    color: white;
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-image: linear-gradient(to right, #7E74F1, rgba(0, 191, 255, 1));
}


.heroe-bottom .HB-A a {
    color: white;
}

.heroe-bottom span {
    color: white;
}

.heroe-bottom i {
    color: rgba(0, 191, 255, 1);
}

.heroe-bottom i:hover {
    color: #7E74F1;
    transition: 0.3s;
}

/* .heroe-bottom span:hover {
    transition: 1s;
    box-shadow: 0 0 10px 5px rgba(0, 191, 255, 0.7);
} */
/*---------------------------------------------------------------------- Body(Services) -------------------------------------------------------------------------------------------------*/

.services-section {
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
}

.services-section h3 {
    text-align: center;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #2F2F2F;
    margin-top: -15px;
}

.services-container {
    display: flex;
    justify-content: center;
    background-color: #2F2F2F;
    padding: 30px;
    gap: 80px;
    /* box-shadow: 0px 15px 10px rgba(126, 116, 241, 0.5) ; */
}

.services-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 460px;
    gap: 15px;
    background-color: #222222;
    border-radius: 19px;
    animation: animationsd 10s infinite;
}

.services-container article p {
    text-align: center;
    color: white;
    font-family: "poppins";
}

.top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.services-container article .top-card>div i {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: rgba(126, 116, 241, 1);
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
}

.services-container article .top-card>div {
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgba(0, 191, 255, 1);
    background-color: rgba(126, 116, 241, 1);
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.services-container article>div span {
    color: white;
}

/*---------------------------------------------------------------------- Body(Separator) -------------------------------------------------------------------------------------------------*/
.separator {
    height: 80px;
}

/*---------------------------------------------------------------------- Body(Proyects) -------------------------------------------------------------------------------------------------*/
.proyects {
    background-color: #222222;
}

.proyects-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
    gap: 50px;
}

.proyects-container article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2F2F2F;

    padding: 30px;
    border-radius: 30px;
}

.proyects-container article p,
a,
span {
    color: white;
    text-align: center;
}

.proyects-container .joga {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 830px;
    height: 500px;
    animation: animationsd 10s infinite;
}

.proyects-container .joga p {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyects-container .joga>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyects-container .hostinger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 830px;
    animation: animationsd 10s infinite;
}

.proyects-container .hostinger p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.proyects-container .hostinger>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.proyects h3 {
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    font-size: 24px;
}

.proyects-container img {
    width: 600px;
    border-radius: 30px;
}

/*---------------------------------------------------------------------- Body(Separator) -------------------------------------------------------------------------------------------------*/
.separator {
    height: 80px;
}

/*---------------------------------------------------------------------- Body(Resume) -------------------------------------------------------------------------------------------------*/
.resume .resume-h3 {
    text-align: center;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #2F2F2F;
}

.svg-resume {
    margin-bottom: -30px;
}

.resume {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resume .resume-container {
    display: flex;
    align-items: flex-start;
    height: 600px;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    background-color: #222222;
    border-radius: 28px;
    width: 1000px;
    animation: animationsd 10s infinite;
    z-index: 999;
}

.resume .resume-container img {
    width: 300px;
    height: 500px;
    border-radius: 28px;
}

.resume-p__container p {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.resume-p__container p {
    font-size: 30px;
    color: white;

}

/*---------------------------------------------------------------------- Body(Contact) -------------------------------------------------------------------------------------------------*/
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact-st {
    text-align: center;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: -8px;
}

.contact .contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F2F2F;
    width: 1200px;
    height: 500px;
    border-radius: 40px;
    padding: 30px;
    animation: animationsd 10s infinite;
    position: relative;
}

.contact .contact-container .contact-container__top>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    width: 500px;
    height: 500px;
}

.contact .contact-container .contact-container__top>form label {
    border: none;
}

.contact .contact-container .contact-container__top>form input {
    outline: none;
    border-radius: 6px;
    padding: 5px 10px;
}

.contact .contact-container .contact-container__top>form textarea {
    border-radius: 6px;
    padding: 5px 10px;
    outline: none;
    width: 300px;
    height: 70px;
    resize: none;
    font-size: 16px;
    border: 1px solid #ccc;




}


.contact .contact-container .contact-container__bottom>div>div i {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 16px;
}

.contact .contact-container .contact-container__bottom>div>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 16px;
}

.contact .contact-container .contact-container__bottom div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-direction: column;
}

.contact .contact-container .contact-container__bottom .phone-nom,
.e-mail-contact {
    width: 300px;
    padding: 8px;
    box-shadow: 1px 1px 18px rgba(0, 191, 255, 1);
    /* border: solid red 3px; */
}

.contact .contact-container .contact-container__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}


.bi {
    color: white;
}

.input-label_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

/* .contact .contact-container .contact-container__top>form .name-imput,
.e-Mail-input,
.phone-no-Input,
.your-message-input {
    color: black;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transition: 0.3s;
} */

.submit-data {
    width: 300px;
    height: 40px;
    background-image: linear-gradient(to right, #7E74F1, rgba(0, 191, 255, 1));
    border: none;
    color: white;

}

.digital-forge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-general {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-label_container label {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
}

.input-label_container input:focus+#your-message-input {
    top: 0;
    transform: translateY(-15px);
    font-size: 12px;
    color: white;
    /* Puedes cambiar el color según lo necesites */
    left: 0;
}

.input-label_container input:focus+label {
    top: 0;
    transform: translateY(-15px);
    font-size: 12px;
    color: white;
    /* Puedes cambiar el color según lo necesites */
    left: 0;
}

.input-label_container textarea:focus+label {
    top: 0;
    transform: translateY(-15px);
    font-size: 12px;
    color: white;
    /* Puedes cambiar el color según lo necesites */
    left: 0;
}


.input-label_container textarea:focus+label {
    top: 0;
    transform: translateY(-17px);
    font-size: 12px;
    color: white;
    /* Puedes cambiar el color según lo necesites */
}

/*---------------------------------------------------------------------- Footer -------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #2F2F2F;
    margin-top: -7px;
padding-bottom: 20px;
}

footer img {
    width: 50px;

}

@keyframes animationsd {
    0% {
        box-shadow: 0 0 15px #7E74F1;
    }

    10% {
        box-shadow: 0 0 15px rgba(0, 191, 255, 1);
    }

    20% {
        box-shadow: 0 0 15px #7E74F1;
    }

    30% {
        box-shadow: 0 0 15px rgba(0, 191, 255, 1);
    }

    40% {
        box-shadow: 0 0 15px #7E74F1;
    }

    50% {
        box-shadow: 0 0 15px rgba(0, 191, 255, 1);
    }

    60% {
        box-shadow: 0 0 15px #7E74F1;
    }

    70% {
        box-shadow: 0 0 15px rgba(0, 191, 255, 1);
    }

    80% {
        box-shadow: 0 0 15px #7E74F1;
    }

    90% {
        box-shadow: 0 0 15px rgba(0, 191, 255, 1);
    }

    100% {
        box-shadow: 0 0 15px #7E74F1;
    }
}

/* @keyframes animationsd {
    0% {
        box-shadow: 0 0 5px #7E74F1;
    }

    10% {
        box-shadow: 0 0 10px rgba(0, 191, 255, 1);
    }

    20% {
        box-shadow: 0 0 15px #7E74F1;
    }

    30% {
        box-shadow: 0 0 20px rgba(0, 191, 255, 1);
    }

    40% {
        box-shadow: 0 0 35px #7E74F1;
    }

    50% {
        box-shadow: 0 0 40px rgba(0, 191, 255, 1);
    }

    60% {
        box-shadow: 0 0 35px #7E74F1;
    }

    70% {
        box-shadow: 0 0 20px rgba(0, 191, 255, 1);
    }

    80% {
        box-shadow: 0 0 15px #7E74F1;
    }

    90% {
        box-shadow: 0 0 10px rgba(0, 191, 255, 1);
    }

    100% {
        box-shadow: 0 0 5px #7E74F1;
    }
} */